<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>nanoCMDB</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css"
              rel="stylesheet"
              integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp"
              crossorigin="anonymous">

        <style>
            p {
                font-size: 13px;
                color: DimGrey;
            }
            th {
                border-style: outset;
                font-size: 13px;
                color: DimGrey;
                background-color:MintCream;
            }
            td {
                border-style: hidden;
                font-size: 12px;
                color: DimGrey;
            }
        </style>
    </head>
    <body>
        <p>Hi Requester,</p>
        <p>the requested info is shared below.</p>
        <hr>
        <h5>Contract : 
            <small><a href="{{ protocol }}://{{ domain }}{% url 'nanopay:contract-detail' contract.pk %}">{{ contract.briefing }}</a></small>
        </h5>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Serial #</th>
                    <th>Model / Type</th>
                    <th>Status</th>
                    <th>Owner</th>
                    <th>Site</th>
                    <th>EOL</th>
                </tr>
            </thead>
            <tbody>
            {% for instance in instances %}
            <tr>
                <td>{{ instance.serial_number }}</td>
                <td><em>{{ instance.model_type }}</em></td>
                <td>{{ instance.get_status_display }}</td>
                <td>{{ instance.owner.get_full_name }}</td>
                <td>{{ instance.branchSite }}</td>
                <td>{{ instance.eol_date }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <br>
        <br>
        <br>
        <hr>
        <p>requested by {{ by }} on {{ on }}</p>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
                crossorigin="anonymous"></script>
    </body>
</html>
