{% extends 'base.html' %}
{% block page_content %}
  {% for message in form.non_field_errors %}
    <div class="container-fluid">
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <div>{{ message }}</div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
          <!-- <span aria-hidden="True">&times;</span> -->
        </button>
      </div>
    </div>
  {% endfor %}
  <form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <table class="table table-striped table-hover">
      <tr>
        <td><div class="fieldWrapper"><label for="{{ form.briefing.id_for_label }} ">Briefing</label></div></td>
        <td colspan="3"><div class="fieldWrapper">{{ form.briefing.errors }} {{ form.briefing }}</div></td>
      </tr>
      <tr>
        <td><div class="fieldWrapper"><label for="{{ form.party_a_list.id_for_label }} ">From</label></div></td>
        <td><div class="fieldWrapper">{{ form.party_a_list.errors }} {{ form.party_a_list }}</div></td>
        <td><div class="fieldWrapper"><label for="{{ form.party_b_list.id_for_label }} ">To</label></div></td>
        <td><div class="fieldWrapper">{{ form.party_b_list.errors }} {{ form.party_b_list }}</div></td>
      </tr>

      <tr>
        <td><div class="fieldWrapper"><label for="{{ form.type.id_for_label }} ">Type</label></div></td>
        <td colspan="3"><div class="fieldWrapper">{{ form.type.errors }}{{ form.type }}</div></td>
      </tr>

      <tr>
        <td><div class="fieldWrapper"><label for="{{ form.startup.id_for_label }} ">From</label></div></td>
        <td>
          <div class="fieldWrapper">
            {{ form.startup.errors }}
            {{ form.startup }}
          </div>
        </td>
        <td><div class="fieldWrapper"><label for="{{ form.endup.id_for_label }} ">To</label></div></td>
        <td>
          <div class="fieldWrapper">
            {{ form.endup.errors }}
            {{ form.endup }}
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="4">
          <div class="fieldWrapper">
            {{ form.scanned_copy.errors }}
            {{ form.scanned_copy }}
          </div>
        </td>
      </tr>
    </table>
    <input type="submit" value="add" class="btn btn-outline-primary d-inline-flex align-items-center"/>
  </form>
{% endblock page_content %}
