{% extends "base.html" %}
{% load auth_extras %}
{% block page_content %}

{% if form.non_field_errors %}
  {% for message in form.non_field_errors %}
  <div class="container-fluid">
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <div>{{ message }}</div>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
        {# <span aria-hidden="True">&times;</span> #}
      </button>
    </div>
  </div>
  {% endfor %}
{% endif %}

{% if user|has_group:"IT China" and request.user.is_staff %}

  <h3>all Contracts</h3>
  {# <a href="{% url 'nanopay:contract-new' %}" class="btn btn-outline-primary d-inline-flex align-items-center">New Contract ...</a> #}
  {% if contract_list %}

  <div class="accordion accordion-flush mt-3" id="accordionFlushExample">
    {% for prjct in prjct_lst %}
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#{{ prjct.pk }}" aria-expanded="false" aria-controls="{{ prjct.pk }}" style="height: 25px;">
          <small>
            <div class="row">
              <div class="col"><small><b>{{ prjct.name }}</small></b></div>
            </div>
          </small>
        </button>
      </h2>
      <div id="{{ prjct.pk }}" class="accordion-collapse collapse show" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          {% include "base_contract_list.html" with contracts=contract_list|grouped_by_prjct:prjct %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  
  <!-- {% include "base_contract_list.html" with contracts=contract_list %} -->

  {% endif %}

{% else %}
  <p class="lead">You're not the authorized IT staff</p>
{% endif %}

{% endblock page_content %}