{% extends "base.html" %}
{% load auth_extras %}
{% block page_content %}

{% if form.non_field_errors %}
  {% for message in form.non_field_errors %}
  <div class="container-fluid">
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <div>{{ message }}</div>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
        {# <span aria-hidden="True">&times;</span> #}
      </button>
    </div>
  </div>
  {% endfor %}
{% endif %}

{% if user|has_group:"IT China" and request.user.is_staff %}

  <h3>all Contracts</h3>
  {# <a href="{% url 'nanopay:contract-new' %}" class="btn btn-outline-primary d-inline-flex align-items-center">New Contract ...</a> #}
  {% if contract_list %}
  
  {% include "base_contract_list.html" with contracts=contract_list %}

  {% endif %}

{% else %}
  <p class="lead">You're not the authorized IT staff</p>
{% endif %}

{% endblock page_content %}