{% extends "base.html" %}
{% load auth_extras %}
{% load static %}
{% block page_content %}

{% if form.non_field_errors %}
  {% for message in form.non_field_errors %}
  <div class="container-fluid">
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <div>{{ message }}</div>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
        {# <span aria-hidden="True">&times;</span> #}
      </button>
    </div>
  </div>
  {% endfor %}
{% endif %}

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Save" />
  </form>

{% endblock page_content %}