{% extends "base.html" %}
{% load auth_extras %}
{% load static %}

<link rel="stylesheet" href="{% static 'nanopay/style.css' %}">

{% block page_content %}

{% if form.non_field_errors %}
  {% for message in form.non_field_errors %}
  <div class="container-fluid">
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <div>{{ message }}</div>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
        {# <span aria-hidden="True">&times;</span> #}
      </button>
    </div>
  </div>
  {% endfor %}
{% endif %}

<h3>All Legal Entities
  <button type="button" id="legalEntitiesBtnByType" class="btn btn-outline-secondary btn-sm" style="display: inline-block">by Type</button>
  <button type="button" id="legalEntitiesBtnByPrjct" class="btn btn-outline-secondary btn-sm" style="display: inline-block">by Project</button>
</h3>

<div class="accordion accordion-flush" id="legalEntitiesAccordion">
  <table class="table table-striped table-hover fw-light" id="legalEntitiesTbl">
    <thead>
      <tr>
        <th></th>
        <th><small>Name</small></th>
        <!-- <th></th> -->
        <th><small>Type</small></th>
        <th><small>Project</small></th>
        <th><small>Code</small></th>
      <!--
        <th><small>Bank</small></th>
        <th><small>Bank Account</small></th>
        <th><small>Tax #</small></th>
        <th><small>Reg. Addr.</small></th>
        <th><small>Reg. Phone#</small></th>
      -->
      </tr>
    </thead>
    <tbody>
      {% for legal_entity in object_list %}
      <tr>
        <td><input type="checkbox" name="legal_entity" id="legal_entity{{ forloop.counter }}" value="{{ legal_entity.pk }}"/></td>
        <td>
          <a href="{% url 'nanopay:legalentity-detail' legal_entity.pk %}" class="text-decoration-none"><small id="legalEntitiesTblTdname">{{ legal_entity.name }}</small></a>

          {% if legal_entity.userprofile_set.all %}
          <a>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people" viewBox="0 0 16 16">
              <path d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1h8Zm-7.978-1A.261.261 0 0 1 7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002a.274.274 0 0 1-.014.002H7.022ZM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM6.936 9.28a5.88 5.88 0 0 0-1.23-.247A7.35 7.35 0 0 0 5 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816ZM4.92 10A5.493 5.493 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275ZM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0Zm3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4Z"/>
            </svg>
          </a>
          {% endif %}
        </td>
      <!--
        <td>
          <a href="{% url 'nanopay:legal-entity-update' legal_entity.pk %}" class="text-decoration-none">
          <button type="button" id="{{ legal_entity.pk }}" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#legalEntityModal">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-card-text" viewBox="0 0 16 16">
              <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
              <path d="M3 5.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3 8a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 8zm0 2.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5z"/>
            </svg>
          </button>
          </a>
        </td>
      -->
        <td><small id="legalEntitiesTblTdtype">{{ legal_entity.get_type_display }}</small></td>
        <td><small id="legalEntitiesTblTdprjct">{{ legal_entity.prjct }}</small></td>
        <td><small id="legalEntitiesTblTdcode">{{ legal_entity.code }}</small></td>
      <!--
        <td><small id="legalEntitiesTblTddeposit_bank">{{ legal_entity.deposit_bank|truncatechars:16 }}</small></td>
        <td><small id="legalEntitiesTblTddeposit_bank_account">{{ legal_entity.deposit_bank_account|truncatechars:16 }}</small></td>
        <td><small id="legalEntitiesTblTdtax_number">{{ legal_entity.tax_number|truncatechars:16 }}</small></td>
        <td><small id="legalEntitiesTblTdreg_addr">{{ legal_entity.reg_addr|truncatechars:16 }}</small></td>
        <td><small id="legalEntitiesTblTdreg_phone">{{ legal_entity.reg_phone|truncatechars:16 }}</small></td>
      -->
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<!-- js -->
<script type="module" src="{% static 'legalEntity_lst.js' %}" defer></script>

{% endblock page_content %}