{% load static %}

<link rel="stylesheet" href="{% static 'nanopay/style.css' %}">

<!-- new Payment Request Modal -->
<div class="modal fade" id="paymentReqModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true" style="display: none;">
  {% csrf_token %}
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalLabel"></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <div class="row mt-3 mb-5">
          <div class="col">
            <div class="progress" role="progressbar" aria-label="Info example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
              <div class="progress-bar"></div>
            </div>
          </div>
        </div>

        <div class="input-group mb-3">
          <label class="input-group-text" for="amount">Amount</label>
          <input type="number" class="form-control" id="amount" required aria-label="Amount">
          <label class="input-group-text" for="vat">VAT</label>
          <select class="form-select" id="vat">
            <option value="6%" selected>6%</option>
            
            <option value="11%">11%</option>
            <option value="13%">13%</option>
          </select>
        </div>

        <div class="input-group mb-3">
          <label class="input-group-text" for="budget_category">Budget Category</label>
          <select class="form-select" id="budget_category">
            <option selected>Choose...</option>
            <option value="6%">6%</option>
            <option value="11%">11%</option>
          </select>
          <label class="input-group-text" for="budget_system">Budget System</label>
          <select class="form-select" id="budget_system">
            <option selected>Choose...</option>
            <option value="6%">6%</option>
            <option value="11%">11%</option>
          </select>
        </div>

          <!--
          <div class="col-2"><label for="amount" class="col-form-label"></label></div>
          <div class="col-6">
            <input type="number" class="form-control" id="amount" required />
            <small class="" style="color: Tomato"></small>
          </div>
          -->
          <!--
          <div class="col">
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" role="switch" id="budget_category" checked
                data-bs-toggle="tooltip" data-bs-placement="top"
                data-bs-custom-class="custom-tooltip"
                data-bs-html="true"
                data-bs-title="Budget Category [预算种类]"
              >
              <label class="form-check-label" for="budget_category"></label>
            </div>
            <small class="" style="color: Tomato"></small>
          </div>
          -->
          <!--
          <div class="col">
            <label for="vat" class="col-form-label"></label>
            <input type="text" class="form-control" id="vat" list="vatDatalist" required />
            <small class="" style="color: Tomato"></small>
            <datalist id="vatDatalist">
              <option>6%</option>
              <option>13%</option>
            </datalist>
          </div>
          -->
         <!-- Budget [预算] -->
        <div class="input-group mb-3">
          <div class="input-group-text">
            <!-- Budget Category [预算种类] -->
            <label class="form-check-label" for="budget_category">Budget Category</label>
            <div class="form-check form-switch">
              <input class="form-check-input mx-3" type="checkbox" role="switch" id="budget_category" checked
                data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" data-bs-html="true"
                data-bs-title="Budget Category [预算种类]"
              />
              <small class="" style="color: Tomato"></small>
            </div>
            <!-- Budget System [预算系统] -->
            <label class="form-check-label" for="budget_system">Budget System</label>
              <div class="form-check form-switch">
                <input class="form-check-input mx-3" type="checkbox" role="switch" id="budget_system" checked
                  data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" data-bs-html="true"
                  data-bs-title="Budget System [预算系统]"
                />
                <small class="" style="color: Tomato"></small>
              </div>
          </div>
        </div>
        
        <div class="input-group mb-3"> <!-- Payment Method [付款方式] -->
          <div class="input-group-text">
            <label class="form-check-label me-3" for="payment_method">Payment Method</label>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="payment_method_cheque" value="">
              <label class="form-check-label" for="payment_method_cheque">Cheque</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="payment_method_cash" value="">
              <label class="form-check-label" for="payment_method_cash">Cash</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="payment_method_wire_transfer" value="" disabled>
              <label class="form-check-label" for="payment_method_wire_transfer">Wire Transfer</label>
            </div>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col">
            <label for="non_payroll_expense" class="col-form-label">non Payroll Expense <em></em></label>
            <input type="text" class="form-control" id="non_payroll_expense" list="nPEDatalist" required />
            <small class="" style="color: Tomato"></small>
            <datalist id="nPEDatalist"></datalist>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col">
            <input type="file" multiple class="form-control" id="scanned_copy" required />
            <small class="" style="color: Tomato"></small>
          </div>
        </div>
      </div>
      
      <div class="modal-footer">
        <button type="button" id="modalBtnNext" class="btn btn-primary">next</button>
        <button type="submit" id="modalBtnSubmit" class="btn btn-secondary hidden" data-bs-dismiss="modal" >submit</button>
        {# <button id="paymentReqModalBtn" class="btn btn-primary" data-bs-target="#paymentReqModalNext" data-bs-toggle="modal">next</button> #}
      </div>
    </div>
  </div>
</div>

<!-- js -->