{% load static %}

{# <form action="" method="" id="cntrctBUModalForm" class="g-3 needs-validation" novalidate=""> #}
  <!-- multi-bulk-update-Modal -->
<div class="modal fade" id="cntrctBUModal" tabindex="-1" aria-labelledby="cntrctBUModalLabel" aria-hidden="true">
  {% csrf_token %}
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-header">
        <h1 class="modal-title fs-5" id="cntrctBUModalLabel"></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">

        <div class="input-group my-1">
          <select class="form-selec w-auto" id="itm">
            <option value="briefing" selected>briefing</option>
            <option value="created_by">creator</option>
            <option value="type">type</option>
            <option value="endup">end up</option>
            <option value="startup">start up</option>
          </select>
          <small class="" style="color: Tomato"></small>

          <input type="text" name="briefing, created_by, type" class="form-control" id="" list="_dataList" aria-label="" required/>
          <small class="" style="color: Tomato"></small>
          <datalist id="_dataList"></datalist>

          <input type="date" name="startup, endup" class="form-control d-none" id="" aria-label="" required/>
          <small class="" style="color: Tomato"></small>
        </div>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="cntrctBUModalBtnNext">next</button>
        <button type="submit" class="btn btn-secondary d-none" id="cntrctBUModalBtnSubmit" data-bs-dismiss="modal">submit</button>
      </div>

    </div>
  </div>
</div>
{# </form> #}

<script type="module" src="{% static 'contract_ub.js' %}" defer></script>