{% load static %}

<link rel="stylesheet" href="{% static 'nanopay/style.css' %}">

<!-- new Legal Entity Modal -->

<div class="modal fade" id="newLegalEntityModal" tabindex="-1" aria-labelledby="newLegalEntityModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="newLegalEntityModalLabel">New</h1>
        {# <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> #}
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" role="switch" id="newLegalEntityModalInputType" checked>
          <label class="form-check-label" for="newLegalEntityModalInputType"></label>
        </div>
      </div>
      <div class="modal-body">
        <!-- <form action="" method="" id="newLegalEntityModalForm" class="g-3 needs-validation" novalidate=""> -->
        {% csrf_token %}
        <div class="card mb-3" ">
          <div class="row g-0">
            <div class="col-md-5">
              {% include 'base_carousel_portrait.html' %}
              {# <img src="{% static 'default_img.bmp' %}" class="img-fluid rounded-start" alt="..."> #}
            </div>
            <div class="col-md-7">
              <div class="card-body">
                <h3 class="card-title text-body-secondary">new Legal Entity</h3>
                <p class="card-text text-body-primary fs-6"></p>
                <!-- <p class="card-text">...</p> -->
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <div class="row mb-3"> <!--new Legal Entity name -->
                    <div class="col-3"><label for="newLegalEntityModalInputName" class="col-form-label">Name</label></div>
                    <div class="col">
                      <textarea type="text" class="form-control" wrap="soft" id="newLegalEntityModalInputName" placeholder="required ..."
                            data-bs-toggle="tooltip" data-bs-placement="bottom"
                            data-bs-custom-class="custom-tooltip" data-bs-html="true"
                            data-bs-title="
                              <ul>
                                <li>new Legal Entity name</li>
                              </ul>"
                        ></textarea>
                      <small class="" style="color: Tomato"></small>
                    </div>
                  </div>
                  <div class="row mb-3"> <!--new Legal Entity code -->
                    <div class="col-3"><label for="newLegalEntityModalInputCode" class="col-form-label">Code</label></div>
                    <div class="col">
                      <input type="text" class="form-control" id="newLegalEntityModalInputCode">
                      <small class="" style="color: Tomato"></small>
                    </div>
                  </div>
                  <div class="row mb-3"> <!--new Legal Entity project -->
                    <div class="col-3"><label for="newLegalEntityModalInputPrjct" class="col-form-label">Project</label></div>
                    <div class="col">
                      <input type="text" class="form-control" id="newLegalEntityModalInputPrjct" list="newLegalEntityModalInputPrjctDatalist">
                      <small class="" style="color: Tomato"></small>
                      <datalist id="newLegalEntityModalInputPrjctDatalist"></datalist>
                    </div>
                  </div>
                  <div class="row mb-3"> <!--new Legal Entity bank -->
                    <div class="col-3"><label for="newLegalEntityModalInputDepositBank" class="col-form-label">Bank</label></div>
                    <div class="col">
                      <input type="text" class="form-control" id="newLegalEntityModalInputDepositBank">
                      <small class="" style="color: Tomato"></small>
                    </div>
                  </div>
                  <div class="row mb-3"> <!--new Legal Entity bank account -->
                    <div class="col-3"><label for="newLegalEntityModalInputDepositBankAccount" class="col-form-label">Bank acc</label></div>
                    <div class="col">
                      <input type="text" class="form-control" id="newLegalEntityModalInputDepositBankAccount">
                      <small class="" style="color: Tomato"></small>
                    </div>
                  </div>
                  <div class="row mb-3"> <!--new Legal Entity tax # -->
                    <div class="col-3"><label for="newLegalEntityModalInputTax" class="col-form-label">Tax #</label></div>
                    <div class="col">
                      <input type="text" class="form-control" id="newLegalEntityModalInputTax">
                      <small class="" style="color: Tomato"></small>
                    </div>
                  </div>
                  <div class="row mb-3"> <!--new Legal Entity reg addr -->
                    <div class="col-3"><label for="newLegalEntityModalInputRegAddr" class="col-form-label">Reg addr</label></div>
                    <div class="col">
                      <input type="text" class="form-control" id="newLegalEntityModalInputRegAddr">
                      <small class="" style="color: Tomato"></small>
                    </div>
                  </div>
                  <div class="row mb-3"> <!--new Legal Entity reg phone -->
                    <div class="col-3"><label for="newLegalEntityModalInputRegPhone" class="col-form-label">Reg phone</label></div>
                    <div class="col">
                      <input type="text" class="form-control" id="newLegalEntityModalInputRegPhone">
                      <small class="" style="color: Tomato"></small>
                    </div>
                  </div>
                  <div class="row mb-3"> <!--new Legal Entity postal addr -->
                    <div class="col-3"><label for="newLegalEntityModalInputPostalAddr" class="col-form-label">Postal addr</label></div>
                    <div class="col">
                      <input type="text" class="form-control" id="newLegalEntityModalInputPostalAddr">
                      <small class="" style="color: Tomato"></small>
                    </div>
                  </div>
                  <div class="row mb-3"> <!--new Legal Entity contact -->
                    <div class="col-3"><label for="newLegalEntityModalInputContact" class="col-form-label">Contact</label></div>
                    <div class="col">
                      <input type="text" class="form-control" id="newLegalEntityModalInputContact" list="newLegalEntityModalInputContactDatalist" multiple>
                      <small class="" style="color: Tomato"></small>
                      <datalist id="newLegalEntityModalInputContactDatalist"></datalist>
                    </div>
                  </div>
                </li>
              <!--
                <li class="list-group-item">
                  <div class="mb-3">
                    <label for="message-text" class="col-form-label">Message:</label>
                    <textarea class="form-control" id="message-text"></textarea>
                  </div>
                </li>
              -->
              </ul>
              <!--
              <div class="card-body">
                <input type="submit" value="new" class="btn btn-outline-primary d-inline-flex align-items-center" />
              </div>
              -->
            </div>
          </div>
        </div>
        <!-- </form> -->
      </div>
      <div class="modal-footer">
        {# <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> #}
        {# <button id="newLegalEntityModalBtn" class="btn btn-primary" data-bs-target="#newLegalEntityModalNext" data-bs-toggle="modal">next</button> #}
        <button type="button" id="newLegalEntityModalBtn" class="btn btn-primary">next</button>
        <button type="submit" id="newLegalEntityModalBtnSubmit" class="btn btn-primary">submit</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="newLegalEntityModalNext" aria-hidden="true" aria-labelledby="newLegalEntityModalNextLabel" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="newLegalEntityModalNextLbl">revew & confirm</h1>
        {# <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> #}
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
          <label class="form-check-label" for="flexSwitchCheckChecked"></label>
        </div>
      </div>
      <div class="modal-body">
        <form action="" method="" id="newLegalEntityModalNextForm" class="g-3 needs-validation" novalidate="">
          {% csrf_token %}

          <div class="row mb-3">
            <div class="col-3"><div class="form-label" id="newModelTypeLblModalNext">Model / Type</div></div>
            <div class="col"><div class="form-control" id="newModelTypeValueModalNext">placeholder</div></div>
          </div>
          <div class="row mb-3">
            <div class="col-3"><div class="form-label" id="newBranchSiteLblModalNext">Branch / Site</div></div>
            <div class="col"><div class="form-control" id="newBranchSiteValueModalNext">placeholder</div></div>
          </div>
          <div class="mb-3">
            <div class="form-label" id="newContactLblModalNext">Contact associated with</div>
            <div class="form-control" id="newContactValueModalNext">placeholder</div>
          </div>

          <table class="table table-striped table-hover fw-light"></table>

        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" data-bs-target="#newLegalEntityModal" data-bs-toggle="modal">back</button>
        <button type="submit" id="newLegalEntityModalNextBtnSubmit" class="btn btn-primary">add</button>
      </div>
    </div>
  </div>
</div>

<!-- js -->
<script type="module" src="{% static 'legalEntityNew.js' %}" defer></script>