{% load static %}

<link rel="stylesheet" href="{% static 'nanopay/style.css' %}">

<!-- new Legal Entity Modal -->

<div class="modal fade" id="newLegalEntityModal" tabindex="-1" aria-labelledby="newLegalEntityModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="newLegalEntityModalLabel">New</h1>
        {# <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> #}
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
          <label class="form-check-label" for="flexSwitchCheckChecked"></label>
        </div>
      </div>
      <div class="modal-body">
        <!-- <form action="" method="" id="newLegalEntityModalForm" class="g-3 needs-validation" novalidate="">
          {% csrf_token %} -->

        <div class="card mb-3" ">
          <div class="row g-0">
            <div class="col-md-4">
              {% include 'base_carousel_portrait.html' %}
              {# <img src="{% static 'default_img.bmp' %}" class="img-fluid rounded-start" alt="..."> #}
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h3 class="card-title text-body-secondary">new Legal Entity</h3>
                <p class="card-text"><small class="text-body-secondary">...</small></p>
                <p class="card-text">...</p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <div class="row">
                    <div class="col-3 fieldWrapper"><label for="{{ form.name.id_for_label }}"><small>Name</small></label></div>
                    <div class="col fieldWrapper"><small>{{ form.name.errors }} {{ form.name }}</small></div>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="row">
                    <div class="col-3 fieldWrapper"><label for="{{ form.type.id_for_label }}"><small>Type</small></label></div>
                    <div class="col fieldWrapper"><small>{{ form.type.errors }} {{ form.type }}</small></div>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="row">
                    <div class="col-3 fieldWrapper"><label for="{{ form.code.id_for_label }}"><small>Code</small></label></div>
                    <div class="col fieldWrapper"><small>{{ form.code.errors }} {{ form.code }}</small></div>
                    <div class="col-3 fieldWrapper"><label for="{{ form.prjct.id_for_label }}"><small>Project</small></label></div>
                    <div class="col fieldWrapper">
                      <small>{{ form.prjct.errors }} {{ form.prjct }}</small>
                      <datalist id="prjct_list">
                        {% for prjct in prjct_list %}
                        <option>{{ prjct }}</option>
                        {% endfor %}
                      </datalist>
                    </div>
                  </div>
                </li>  
                <li class="list-group-item">
                  <div class="row">
                    <div class="col-3 fieldWrapper"><label for="{{ form.deposit_bank.id_for_label }}"><small>Deposit Bank</small></label></div>
                    <div class="col fieldWrapper"><small>{{ form.deposit_bank.errors }} {{ form.deposit_bank }}</small></div>
                    <div class="col-3 fieldWrapper"><label for="{{ form.deposit_bank_account.id_for_label }}"><small>Deposit Bank Account</small></label></div>
                    <div class="col fieldWrapper"><small>{{ form.deposit_bank_account.errors }} {{ form.deposit_bank_account }}</small></div>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="row">
                    <div class="col-3 fieldWrapper"><label for="{{ form.tax_number.id_for_label }}"><small>Tax #</small></label></div>
                    <div class="col fieldWrapper"><small>{{ form.tax_number.errors }} {{ form.tax_number }}</small></div>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="row">
                    <div class="col-3 fieldWrapper"><label for="{{ form.reg_addr.id_for_label }}"><small>Registered Addr.</small></label></div>
                    <div class="col fieldWrapper"><small>{{ form.reg_addr.errors }} {{ form.reg_addr }}</small></div>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="row">
                    <div class="col-3 fieldWrapper"><label for="{{ form.reg_phone.id_for_label }}"><small>Registered Phone #</small></label></div>
                    <div class="col fieldWrapper"><small>{{ form.reg_phone.errors }} {{ form.reg_phone }}</small></div>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="row">
                    <div class="col-3 fieldWrapper"><label for="{{ form.postal_addr.id_for_label }}"><small>Postal Addr.</small></label></div>
                    <div class="col fieldWrapper"><small>{{ form.postal_addr.errors }} {{ form.postal_addr }}</small></div>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="row">
                    <div class="col-3 fieldWrapper"><label for="{{ form.contact.id_for_label }}"><small>Contract</small></label></div>
                    <div class="col fieldWrapper">
                      <small>{{ form.contact.errors }} {{ form.contact }}</small>
                      <datalist id="external_contact_list">
                        {% for external_contact in external_contact_list %}
                        <option>{{ external_contact }}</option>
                        {% endfor %}
                      </datalist>
                    </div>
                  </div>
                </li>
              </ul>
              <div class="card-body">
                <input type="submit" value="new" class="btn btn-outline-primary d-inline-flex align-items-center" />
              </div>
            </div>
          </div>
        </div>
        
        <div class="row mb-3"> <!--new Legal Entity name -->
          <div class="col-3"><label for="newLegalEntityModalInputName" class="col-form-label">Name</label></div>
          <div class="col">
            <textarea type="text" class="form-control" wrap="soft" id="newLegalEntityModalInputName" placeholder="e.g. 0012398765, abc-123-xyz, ..."
                  data-bs-toggle="tooltip" data-bs-placement="bottom"
                  data-bs-custom-class="custom-tooltip" data-bs-html="true"
                  data-bs-title="
                    <ul>
                      <li>multiple IT assets with the same Model / Type and Contact can be added in one go using the commas as the separator, e.g. 0012398765, abc-123-xyz, ...</li>
                      <li>hyphen is the Only allowed non-alphabet-charactor for Serial # e.g. 0000-abcd-5678</li>
                    </ul>"
              ></textarea>
            <small class="" style="color: Tomato"></small>
          </div>
        </div>
        <div class="row mb-3"> <!--new Legal Entity code -->
          <div class="col-3"><label for="newLegalEntityModalInputCode" class="col-form-label">Code</label></div>
          <div class="col">
            <input type="text" class="form-control" id="newLegalEntityModalInputCode">
            <small class="" style="color: Tomato"></small>
          </div>
        </div>
        <div class="row mb-3"> <!--new Legal Entity project -->
          <div class="col-3"><label for="newLegalEntityModalInputProject" class="col-form-label">Project</label></div>
          <div class="col">
            <input type="text" class="form-control" id="newLegalEntityModalInputProject" list="newLegalEntityModalInputProjectDatalist">
            <small class="" style="color: Tomato"></small>
            <datalist id="newLegalEntityModalInputProjectDatalist"></datalist>
          </div>
        </div>
        <div class="row mb-3"> <!--new Legal Entity bank -->
          <div class="col-3"><label for="newLegalEntityModalInputBank" class="col-form-label">Bank</label></div>
          <div class="col">
            <input type="text" class="form-control" id="newLegalEntityModalInputBank">
            <small class="" style="color: Tomato"></small>
          </div>
        </div>
        <div class="row mb-3"> <!--new Legal Entity bank account -->
          <div class="col-3"><label for="newLegalEntityModalInputBankAcc" class="col-form-label">Bank Acc</label></div>
          <div class="col">
            <input type="text" class="form-control" id="newLegalEntityModalInputBankAcc">
            <small class="" style="color: Tomato"></small>
          </div>
        </div>
        <div class="row mb-3"> <!--new Legal Entity tax # -->
          <div class="col-3"><label for="newLegalEntityModalInputTax" class="col-form-label">Tax #</label></div>
          <div class="col">
            <input type="text" class="form-control" id="newLegalEntityModalInputTax">
            <small class="" style="color: Tomato"></small>
          </div>
        </div>
        <div class="row mb-3"> <!--new Legal Entity reg addr. -->
          <div class="col-3"><label for="newLegalEntityModalInputRegAddr" class="col-form-label">Reg Addr.</label></div>
          <div class="col">
            <input type="text" class="form-control" id="newLegalEntityModalInputRegAddr">
            <small class="" style="color: Tomato"></small>
          </div>
        </div>
        <div class="row mb-3"> <!--new Legal Entity reg phone -->
          <div class="col-3"><label for="newLegalEntityModalInputRegPhone" class="col-form-label">Reg Phone</label></div>
          <div class="col">
            <input type="text" class="form-control" id="newLegalEntityModalInputRegPhone">
            <small class="" style="color: Tomato"></small>
          </div>
        </div>
        <div class="row mb-3"> <!--new Legal Entity postal addr. -->
          <div class="col-3"><label for="newLegalEntityModalInputPostalAddr" class="col-form-label">Postal Addr.</label></div>
          <div class="col">
            <input type="text" class="form-control" id="newLegalEntityModalInputPostalAddr">
            <small class="" style="color: Tomato"></small>
          </div>
        </div>
        <div class="row mb-3"> <!--new Legal Entity contact -->
          <div class="col-3"><label for="newLegalEntityModalInputContact" class="col-form-label">Contact</label></div>
          <div class="col">
            <input type="text" class="form-control" id="newLegalEntityModalInputContact" list="newLegalEntityModalInputContactDatalist">
            <small class="" style="color: Tomato"></small>
            <datalist id="newLegalEntityModalInputContactDatalist"></datalist>
          </div>
        </div>
        <!--
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Message:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
        -->
        <!-- </form> -->
      </div>
      <div class="modal-footer">
        {# <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> #}
        {# <button type="submit" id="newLegalEntityModalBtn" class="btn btn-primary">add</button> #}
        <button id="newLegalEntityModalBtn" class="btn btn-primary" data-bs-target="#newLegalEntityModalNext" data-bs-toggle="modal">next</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="newLegalEntityModalNext" aria-hidden="true" aria-labelledby="newLegalEntityModalNextLabel" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="newLegalEntityModalNextLbl">revew & confirm</h1>
        {# <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> #}
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
          <label class="form-check-label" for="flexSwitchCheckChecked"></label>
        </div>
      </div>
      <div class="modal-body">
        <form action="" method="" id="newLegalEntityModalNextForm" class="g-3 needs-validation" novalidate="">
          {% csrf_token %}

          <div class="row mb-3">
            <div class="col-3"><div class="form-label" id="newModelTypeLblModalNext">Model / Type</div></div>
            <div class="col"><div class="form-control" id="newModelTypeValueModalNext">placeholder</div></div>
          </div>
          <div class="row mb-3">
            <div class="col-3"><div class="form-label" id="newBranchSiteLblModalNext">Branch / Site</div></div>
            <div class="col"><div class="form-control" id="newBranchSiteValueModalNext">placeholder</div></div>
          </div>
          <div class="mb-3">
            <div class="form-label" id="newContactLblModalNext">Contact associated with</div>
            <div class="form-control" id="newContactValueModalNext">placeholder</div>
          </div>

          <table class="table table-striped table-hover fw-light"></table>

        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" data-bs-target="#newLegalEntityModal" data-bs-toggle="modal">back</button>
        <button type="submit" id="newLegalEntityModalNextBtnSubmit" class="btn btn-primary">add</button>
      </div>
    </div>
  </div>
</div>

<!-- js -->
<script type="module" src="{% static 'legalEntityNew.js' %}" defer></script>