{% extends "base_email.html" %}

{% block email_content %}

<p>Hey {{ requester }},</p>
<p>Please follow the <a href="{{ protocol }}://{{ domain }}{% url 'nanopay:payment-request-list' %}"> link </a> to check the details, many thanks !</p>
<br />

{% if payment_request.count > 1 %}

{% include "base_paymentRequest_list.html" with email='true' paymentrequest_list=payment_request %}

{% else %}

{% include "nanopay/payment_request_email_base.html" with payment_request=payment_request %}

{% endblock email_content %}