# database
*sqlite3
*sqlite3*

# binaries
*pyc
# nanocmdb/__pycache__/*pyc
# nanoassets/__pycache__/*pyc
# templatetags/__pycache__/*pyc

# logs
*log

# STATIC_ROOT
static_collected/

# attachedment
*pnp
*png
*jfif
*jpg
*jpeg
*pdf
*doc
*docx
*xls
*xlsx
*har

# ssl
*pem
*key

# others
.DS_Store
*DS_Store*