<div class="modal fade" id="crudSettingsModal" tabindex="-1" aria-labelledby="crudSettingsModalLabel" aria-hidden="true">
  {% csrf_token %}
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="crudSettingsModalLabel">Settings</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row mb-3">
          <label for="email_domains" class="col-form-label">Email domain(s)</label>
          <textarea class="form-control" list="email_domainsDatalist" id="email_domains" name="" placeholder="(seperated by comma)" required></textarea>
          <small class="" style="color: Tomato"></small>
          <datalist id="email_domainsDatalist"></datalist>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" id="btnNext" class="btn btn-primary">next</button>
        <button type="submit" id="btnSubmit" class="btn btn-secondary hidden" data-bs-dismiss="modal" >submit</button>
      </div>
    </div>
  </div>
</div>