{% load static %}

<div class="modal fade" id="crudEnvModal" tabindex="-1" aria-labelledby="crudEnvModalLabel" aria-hidden="true">
  {% csrf_token %}
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="crudEnvModalLabel">Settings <em class="fs-6 bg-warning-subtle text-warning-emphasis"></em></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      
      <div class="modal-body">
        <div class="row mb-3">
          <label for="ORG_DOMAIN" class="col-form-label">Org. domain(s)</label>
          <textarea class="form-control" id="ORG_DOMAIN" name="" placeholder="organization.com" required
            data-bs-toggle="tooltip" data-bs-placement="right"
            data-bs-custom-class="custom-tooltip" data-bs-html="true"
            data-bs-title="
              <ul>
                <li>main domain name(s) for e-Assets such as emails, websites, etc.</li>
                <li>multiple values should be seperated by commas</li>
                <li>the first one would be considered as the default domain</li>
              </ul>"
          ></textarea>
          <small class="" style="color: Tomato"></small>
        </div>

        <div class="row mb-3">
          <div class="col-3"><label for="ORG_ABBR" class="col-form-label">Org. Initial</label></div>
          <div class="col">
            <input class="form-control" list="ORG_ABBRDatalist" id="ORG_ABBR" name="" placeholder="" required />
            <small class="" style="color: Tomato"></small>
            <datalist id="ORG_ABBRDatalist"></datalist>
          </div>
        </div>
        
        <div class="row mb-3">
          <div class="col-3"><label for="EMAIL_HOST" class="col-form-label">Email host</label></div>
          <div class="col">
            <input class="form-control" list="EMAIL_HOSTDatalist" id="EMAIL_HOST" name="" placeholder="" required />
            <small class="" style="color: Tomato"></small>
            <datalist id="EMAIL_HOSTDatalist"></datalist>
          </div>
        </div>
      </div>
      
      <div class="modal-footer">
        <button type="button" id="btnNext" class="btn btn-primary">next</button>
        <button type="submit" id="btnSubmit" class="btn btn-secondary hidden" data-bs-dismiss="modal" >submit</button>
      </div>
    </div>
  </div>
</div>

<script type="module" src="{% static 'env_crud.js' %}" defer></script>