{% extends 'base.html' %}
{% load auth_extras %}
{% block page_content %}

{% include 'base_messages.html' %}

{% if form.non_field_errors %}
  {% for message in form.non_field_errors %}
  <div class="container-fluid">
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <div>{{ message }}</div>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
        <!-- <span aria-hidden="True">&times;</span> -->
      </button>
    </div>
  </div>
  {% endfor %}
{% endif %}

<form action="" method="post">
  {% csrf_token %}

  <div class="card mb-3" ">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="..." class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h3 class="card-title text-body-secondary">Profile - {{ user.get_full_name }}</h3>
          <p class="card-text"><small class="text-body-secondary">{{ user.userprofile.legal_entity }}</small></p>
          <p class="card-text">...</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <div class="row">
              <div class="col"><b>Username : </b> {{ user.username }}</div>
              <div class="col"><b>Email : </b> {{ user.email }}</div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col"><b>Department : </b> {{ user.userprofile.dept }}</div>
              <div class="col"><b>Title : </b> {{ user.userprofile.title }}</div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col">
                <span class="fieldWrapper"><label for="{{ form.work_phone.id_for_label }}"><b>Work Phone # : </b></label></span>
                <span class="fieldWrapper">{{ form.work_phone.errors }}{{ form.work_phone }}</span>
              </div>
              <div class="col">
                <span class="fieldWrapper"><label for="{{ form.cellphone.id_for_label }}"><b>Cellphone # : </b></label></span>
                <span class="fieldWrapper">{{ form.cellphone.errors }}{{ form.cellphone }}</span>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="col">
              <span class="fieldWrapper"><label for="{{ form.postal_addr.id_for_label }}"><b>Postal Address : </b></label></span>
              <span class="fieldWrapper">{{ form.postal_addr.errors }}{{ form.postal_addr }}</span>
            </div>
          </li>
        </ul>
        <div class="card-body">
          <input type="submit" value="update" class="btn btn-outline-primary d-inline-flex align-items-center"/>
        </div>
      </div>
    </div>
  </div>

</form>

{% endblock page_content %}