{% extends "base.html" %}
{% load auth_extras %}
{% load static %}
{% block page_content %}

{% if form.non_field_errors %}
  {% for message in form.non_field_errors %}
  <div class="container-fluid">
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <div>{{ message }}</div>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
        {# <span aria-hidden="True">&times;</span> #}
      </button>
    </div>
  </div>
  {% endfor %}
{% endif %}

<form action="" method="post">
  {% csrf_token %}
  <div class="card mb-3" ">
    <div class="row g-0">
      <div class="col-md-4">
        {% include "base_carousel_portrait.html" %}
        {# <img src="{% static 'default_img.bmp' %}" class="img-fluid rounded-start" alt="..."> #}
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h3 class="card-title text-body-secondary">Profile - {{ user.get_full_name }}</h3>
          <p class="card-text"><small class="text-body-secondary">{{ user.userprofile.legal_entity }}</small></p>
          <p class="card-text">...</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <div class="row">
              <div class="col-3"><small>Username : </small></div>
              <div class="col"><small>{{ user.username }}</small></div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-3"><small>Email : </small></div>
              <div class="col"><small>{{ user.email }}</small></div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-3"><small>Title : </small></div>
              <div class="col"><small>{{ user.userprofile.title }}</small></div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-3"><small>Department : </small></div>
              <div class="col"><small>{{ user.userprofile.dept }}</small></div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-3">
                <span class="fieldWrapper"><label for="{{ form.work_phone.id_for_label }}"><small>Work Phone # : </small></label></span>
              </div>
              <div class="col">
                <span class="fieldWrapper">{{ form.work_phone.errors }}<small>{{ form.work_phone }}</small></span>
              </div>
              <div class="col-3">
                <span class="fieldWrapper"><label for="{{ form.cellphone.id_for_label }}"><small>Cellphone # : </small></label></span>
              </div>
              <div class="col">
                <span class="fieldWrapper">{{ form.cellphone.errors }}<small>{{ form.cellphone }}</small></span>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-3">
                <span class="fieldWrapper"><label for="{{ form.postal_addr.id_for_label }}"><small>Postal Address : </small></label></span>
              </div>
              <div class="col">
                <span class="fieldWrapper">{{ form.postal_addr.errors }}<small>{{ form.postal_addr }}</small></span>
              </div>
            </div>
          </li>
        </ul>
        <div class="card-body">
          <input type="submit" value="update" class="btn btn-outline-primary d-inline-flex align-items-center"/>
        </div>
      </div>
    </div>
  </div>
</form>

{% endblock page_content %}