{% extends 'base.html' %}
{% load auth_extras %}
{% load static %}

<link rel="stylesheet" href="{% static 'nanobase/style.css' %}">

{% block page_content %}

{% include 'base_messages.html' %}

{% if form.non_field_errors %}
  {% for message in form.non_field_errors %}
  <div class="container-fluid">
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <div>{{ message }}</div>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
        {# <span aria-hidden="True">&times;</span> #}
      </button>
    </div>
  </div>
  {% endfor %}
{% endif %}

<h3>all Users
  <!--
  <button type="button" id="legalEntitiesBtnByType" class="btn btn-outline-secondary btn-sm" style="display: inline-block">by Type</button>
  <button type="button" id="legalEntitiesBtnByPrjct" class="btn btn-outline-secondary btn-sm" style="display: inline-block">by Project</button>
  -->
  <div class="form-check form-switch form-check-inline fs-6">
    <input class="form-check-input" type="checkbox" role="switch" id="userLstSwitch">
    <label class="form-check-label" for="flexSwitchCheckDefault"></label>
  </div>
</h3>

<div class="accordion accordion-flush" id="">
  {% include 'base_userprofile_list.html' with userprofiles=userprofiles %}
</div>

<!-- js -->
<script type="module" src="{% static 'user_lst.js' %}" defer></script>

{% endblock page_content %}