{% extends 'base.html' %}
{% load auth_extras %}
{% load static %}

<link rel="stylesheet" href="{% static 'nanobase/style.css' %}">

{% block page_content %}

{% include 'base_messages.html' %}

{% if form.non_field_errors %}
  {% for message in form.non_field_errors %}
  <div class="container-fluid">
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <div>{{ message }}</div>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
        {# <span aria-hidden="True">&times;</span> #}
      </button>
    </div>
  </div>
  {% endfor %}
{% endif %}

<h3>All Users
  <!--
  <button type="button" id="legalEntitiesBtnByType" class="btn btn-outline-secondary btn-sm" style="display: inline-block">by Type</button>
  <button type="button" id="legalEntitiesBtnByPrjct" class="btn btn-outline-secondary btn-sm" style="display: inline-block">by Project</button>
  -->
</h3>

<div class="accordion accordion-flush" id="">
  <table class="table table-striped table-hover fw-light" id="userProfileTbl">
    <thead>
      <tr>
        <th></th>
        <th><small>Name</small></th>
        <th><small>Email</small></th>
        <th><small>Title</small></th>
        <th><small>Department</small></th>
      </tr>
    </thead>
    <tbody>
      {% for user in object_list %}
      <tr>
        <td><input type="checkbox" name="user" id="user{{ forloop.counter }}" value="{{ user.pk }}"/></td>
        <td>
          <small>{{ user.last_name }}, {{ user.first_name }}</small>
          {% if user.userprofile %}
          <a>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-vcard" viewBox="0 0 16 16">
              <path d="M5 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4Zm4-2.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5ZM9 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4A.5.5 0 0 1 9 8Zm1 2.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5Z"/>
              <path d="M2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2H2ZM1 4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H8.96c.026-.163.04-.33.04-.5C9 10.567 7.21 9 5 9c-2.086 0-3.8 1.398-3.984 3.181A1.006 1.006 0 0 1 1 12V4Z"/>
            </svg>
          </a>
          {% endif %}
        </td>
        <td><small>{{ user.email }}</small></td>
        <td><small>{{ user.userprofile.title }}</small></td>
        <td><small>{{ user.userprofile.dept }}</small></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<!-- js -->
<!-- <script type="module" src="{% static 'legalEntity_lst.js' %}" defer></script> -->

{% endblock page_content %}