{% extends "base.html" %}

{% load auth_extras %}
{% load static %}

{% block page_content %}

{% if form.non_field_errors %}
  {% for message in form.non_field_errors %}
  <div class="container-fluid">
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <div>{{ message }}</div>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
        {# <span aria-hidden="True">&times;</span> #}
      </button>
    </div>
  </div>
  {% endfor %}
{% endif %}

{% if user|has_group:"IT China" %}

  <p class="h3">Supported IT Assets</p>
  {% if instance_list %}
  <div class="accordion accordion-flush mt-3" id="accordionFlushExample">
    {% for sub_category in sub_categories %}
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#{{ sub_category }}" aria-expanded="false" aria-controls="{{ sub_category }}" style="height: 25px;">
          <small>
            <div class="row">
              <div class="col"><small><b>{{ sub_category }}</b></small></div>
              <div class="col"><span class="badge text-bg-light">{{ instance_list|grouped_by_sub_category_subtotal:sub_category }}</span></div>
              {% if instance_list|grouped_by_sub_category_subtotal_available:sub_category %}
              <div class="col"><span class="badge text-bg-warning">{{ instance_list|grouped_by_sub_category_subtotal_available:sub_category }}</span></div>
              {% endif %}
              {% if instance_list|grouped_by_sub_category_subtotal_in_repair:sub_category %}
              <div class="col"><span class="badge text-bg-danger">{{ instance_list|grouped_by_sub_category_subtotal_in_repair:sub_category }}</span></div>
              {% endif %}
            </div>
          </small>
        </button>
      </h2>
      <div id="{{ sub_category }}" class="accordion-collapse collapse show" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          {% include "base_instance_list.html" with instances=instance_list|grouped_by_sub_category:sub_category %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% else %}
  <p class="lead">no IT assets is under your support !</p>
  {% endif %}
  
{% else %}
<p class="lead">You're not the authorized IT staff</p>
{% endif %}

{% endblock page_content %}