{% extends 'base.html' %}
{% load auth_extras %}
{% block page_content %}

{% include 'base_messages.html' %}

{% if form.non_field_errors %}
  {% for message in form.non_field_errors %}
  <div class="container-fluid">
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <div>{{ message }}</div>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
        <!-- <span aria-hidden="True">&times;</span> -->
      </button>
    </div>
  </div>
  {% endfor %}
{% endif %}

<form action="{% url 'nanoassets:instance-hostname-upd' instance.pk %}" method="post" 
  x-data="{ hostName: 'TS-' + document.getElementById('serial_number').innerHTML}"
  
  >
  {% csrf_token %}
  <!-- Modal -->
  <div class="modal fade" id="hostnameUpdModal" tabindex="-1" aria-labelledby="hostnameUpdModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="hostnameUpdModalLabel">Rename to ...</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row" x-init="$nextTick(() => { $refs.hostNameInput.focus(); })">
            <input type="text" list="" name="hostname_re_name_to" autocomplete="off" class="form-control"
              x-model.lazy="hostName"
              x-ref="hostNameInput"
              x-on:focusout="hostName.trim().length < 1 ? $refs.hostNameInput.focus() : hostName = $event.target.value.toUpperCase()"
              x-bind:value="hostName"
              x-bind:class="hostName.trim().length < 1 ? 'border-bottom border-danger' : 'border-bottom border-success'"
            />
            <span x-show="hostName.trim().length < 1">your input is barely visible 😆</span>
          </div>
        </div>
        <div class="modal-footer">
          <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
          <button type="submit" class="btn btn-primary" x-bind:class="hostName.trim().length < 1 ? 'disabled' : ''">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</form>

<form action="{% url 'nanoassets:instance-owner-upd' instance.pk %}" method="post">
  {% csrf_token %}
  <!-- Modal -->
  <div class="modal fade" id="ownerUpdModal" tabindex="-1" aria-labelledby="ownerUpdModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="ownerUpdModalLabel">Re-assign to ...</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <div class="row">
            <div class="col"><b> ... </b></div>
            <input type="text" list="owner_list" name="owner_re_assign_to" placeholder="leave this field Empty for Returning back ..." class="form-control"/>
            <datalist id="owner_list">
              {% for owner in owner_list %}
              <option>{{ owner }}</option>
              {% endfor %}
            </datalist>
          </div>
        </div>

        <div class="modal-footer">
          <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</form>

<div class="card text-start">
  <div class="card-header">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="assets-tab" data-bs-toggle="tab" data-bs-target="#assets-tab-pane" type="button" role="tab" aria-controls="assets-tab-pane" aria-selected="true">
          Ownership
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="configuration-tab" data-bs-toggle="tab" data-bs-target="#configuration-tab-pane" type="button" role="tab" aria-controls="configuration-tab-pane" aria-selected="false">
          Configuation
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="site-tab" data-bs-toggle="tab" data-bs-target="#site-tab-pane" type="button" role="tab" aria-controls="site-tab-pane" aria-selected="false">
          Site
        </button>
      </li>
      {% if user|has_group:"IT China" and request.user.is_staff %}
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="contract-tab" data-bs-toggle="tab" data-bs-target="#contract-tab-pane" type="button" role="tab" aria-controls="contract-tab-pane" aria-selected="false">
          Contract
        </button>
      </li>
      {% endif %}
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="disabled-tab" data-bs-toggle="tab" data-bs-target="#disabled-tab-pane" type="button" role="tab" aria-controls="disabled-tab-pane" aria-selected="false" disabled>
          Disabled
        </button>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="assets-tab-pane" role="tabpanel" aria-labelledby="assets-tab" tabindex="0">
        <h5 class="card-title text-body-secondary">{{ instance.model_type }} - {{ instance.serial_number }}</h5>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><b>Status :</b> <small>{{ instance.get_status_display }}</small></li>
          <li class="list-group-item">
            <b>Owner :</b>
            {% if user|has_group:"IT China" %}
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#ownerUpdModal">
              {% if instance.owner %}<small>{{ instance.owner.get_full_name }}</small>{% else %}🈳{% endif %}
            </button>
            {% else %}
            {% if instance.owner %}<small>{{ instance.owner.get_full_name }}</small>{% else %}🈳{% endif %}
            {% endif %}
          </li>
          <li class="list-group-item"><em>...</em></li>
        </ul>
      </div>
      <div class="tab-pane fade" id="configuration-tab-pane" role="tabpanel" aria-labelledby="configuration-tab" tabindex="0">
        <h5 class="card-title text-body-secondary">{{ instance.model_type }} - {{ instance.serial_number }}</h5>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><b>Sub Category :</b> <small>{{ instance.model_type.sub_category }}</small></li>
          <li class="list-group-item"><b>Model / Type :</b> <small>{{ instance.model_type }}</small></li>
          <li class="list-group-item"><b>Serial # :</b> <small id="serial_number">{{ instance.serial_number }}</small></li>
          <li class="list-group-item">
            <b>Hostname :</b>
            {% if user|has_group:"IT China" %}
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#hostnameUpdModal">
              <small>{{ instance.hostname }}</small>
            </button>
            {% else %}
            <small>{{ instance.hostname }}</small>
            {% endif %}
          </li>
          <li class="list-group-item"><em>...</em></li>
          <li class="list-group-item"><em>...</em></li>
        </ul>
      </div>
      <div class="tab-pane fade" id="site-tab-pane" role="tabpanel" aria-labelledby="site-tab" tabindex="0">
        <h5 class="card-title text-body-secondary">{{ instance.branchSite.name }}</h5>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><b>Address:</b> <small>{{ instance.branchSite.addr }}</small></li>
          <li class="list-group-item"><b>Location:</b> <small>{{ instance.branchSite.city }}</small></li>
          <li class="list-group-item"><b>Tech Support:</b></li>
          
          {% for onsite_tech in instance.branchSite.onSiteTech.all %}
          <li class="list-group-item">
            <a href="https://teams.microsoft.com/l/chat/0/0?users={{ onsite_tech.email }}">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-microsoft-teams" viewBox="0 0 16 16">
                <path d="M9.186 4.797a2.42 2.42 0 1 0-2.86-2.448h1.178c.929 0 1.682.753 1.682 1.682v.766Zm-4.295 7.738h2.613c.929 0 1.682-.753 1.682-1.682V5.58h2.783a.7.7 0 0 1 .682.716v4.294a4.197 4.197 0 0 1-4.093 4.293c-1.618-.04-3-.99-3.667-2.35Zm10.737-9.372a1.674 1.674 0 1 1-3.349 0 1.674 1.674 0 0 1 3.349 0Zm-2.238 9.488c-.04 0-.08 0-.12-.002a5.19 5.19 0 0 0 .381-2.07V6.306a1.692 1.692 0 0 0-.15-.725h1.792c.39 0 .707.317.707.707v3.765a2.598 2.598 0 0 1-2.598 2.598h-.013Z"/>
                <path d="M.682 3.349h6.822c.377 0 .682.305.682.682v6.822a.682.682 0 0 1-.682.682H.682A.682.682 0 0 1 0 10.853V4.03c0-.377.305-.682.682-.682Zm5.206 2.596v-.72h-3.59v.72h1.357V9.66h.87V5.945h1.363Z"/>
              </svg>
            </a>
            <small>{{ onsite_tech.get_full_name }} ( {{ onsite_tech.userprofile.cellphone }} )</small>
          </li>
          {% endfor %}
        </ul>
      </div>
      {% if user|has_group:"IT China" and request.user.is_staff %}
      <div class="tab-pane fade" id="contract-tab-pane" role="tabpanel" aria-labelledby="contract-tab" tabindex="0">
        <h5 class="card-title text-body-secondary">Associated with ...</h5>

        {% include 'base_contract_list.html' with contracts=instance.contract_set.all %}

      </div>
      {% endif %}
      <div class="tab-pane fade" id="disabled-tab-pane" role="tabpanel" aria-labelledby="disabled-tab" tabindex="0">
        ...
      </div>
    </div>
  </div>
  <div class="card-body">
    {% if user|has_group:"IT China" %}
    
    {% include 'base_change_history.html' with changes=changes %}

    {% endif %}
  </div>
</div>
{% endblock page_content %}
