{% extends 'base.html' %}
{% block page_content %}
  {% if messages %}
    {% for message in messages %}
      <div class="container-fluid">
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show"
             role="alert">
          <div>{{ message }}</div>
          <button type="button"
                  class="btn-close"
                  data-bs-dismiss="alert"
                  aria-label="Close">
            <!-- <span aria-hidden="True">&times;</span> -->
          </button>
        </div>
      </div>
    {% endfor %}
  {% endif %}
  <div class="container mt-3">
    <h1>Supported IT Assets</h1>
    {% if instance_list %}
      <form action="{% url 'nanoassets:instance-scrapping-request' %}" method="post">
        {% csrf_token %}
        <input type="submit" class="btn btn-outline-primary d-inline-flex align-items-center" value="Apply for Scrapping" />
        <table class="table table-striped table-hover fw-light">
          <tr>
            <th></th>
            <th>Serial #</th>
            <th>Model / Type</th>
            <th>Status</th>
            <th>Owner</th>
            <th>Site</th>
          </tr>
          {% for instance in instance_list %}
            <tr>
              <td>
                <input type="checkbox"
                       name="instance"
                       id="instance{{ forloop.counter }}"
                       value="{{ instance.pk }}"/>
              </td>
              <td>
                <label for="instance{{ forloop.counter }}">
                  <a href="{% url 'nanoassets:instance-detail' instance.pk %}">
                  {{ instance.serial_number }}
                  </a>
                </label>
                
              </td>
              <td>
                <a href="{% url 'nanoassets:instance-in-repair' instance.pk %}">🛠</a>
                {{ instance.model_type }}
              </td>
              <td>{{ instance.get_status_display }}</td>
              <td>
                <a href="{% url 'nanoassets:instance-owner-upd' instance.pk %}">
                  {% if instance.owner %}
                    {{ instance.owner.username }}
                  {% else %}
                    🈳
                  {% endif %}
                </a>
              </td>
              <td>{{ instance.branchSite }}</td>
            </tr>
          {% endfor %}
        </table>
      </form>
    {% else %}
      <p>No IT assets are under your support !</p>
    {% endif %}
  </div>
{% endblock page_content %}
