{% extends 'base.html' %}
{% load auth_extras %}
{% block page_content %}

{% include 'base_messages.html' %}

<div class="container mt-3">
  <p class="h3">Supported IT Assets</p>
  {% if user|has_group:"IT China" %}
    {% if instance_list %}
    <form action="{% url 'nanoassets:instance-bulk-upd' %}" method="post">
      {% csrf_token %}
      <div class="input-group gap-1">
        <input type="submit" name="scrapping-request" value="Apply for Scrapping" class="btn btn-outline-secondary d-inline-flex align-items-center"/>
        <!--<select name="branchsite_selected" id="site" class="form-select d-inline-flex" style="width:auto" aria-label="Default select example"></select>-->
        <input type="submit" name="branchsite-transfer" value="Transfer to" class="btn btn-outline-secondary d-inline-flex align-items-center"/>
        <input type="text" list="branchSites" name="branchsite_selected" placeholder="distination ..." class="form-control"/>
        <datalist id="branchSites">
          {% for branchSite_name in branchSites_name %}
            <option>{{ branchSite_name }}</option>
          {% endfor %}
        </datalist>
        {% if user|has_group:"IT China" and request.user.is_staff %}
        <input type="submit" name="contract-associate" value="Associate with" class="btn btn-outline-secondary d-inline-flex align-items-center"/>
        <input type="text" list="contracts" name="contract_selected" placeholder="contract ..." class="form-control"/>
        <datalist id="contracts">
          {% for contract in contracts %}
            <option>{{ contract }}</option>
          {% endfor %}
        </datalist>
        {% endif %}
      </div>
      {% include 'base_instance_list.html' with instances=instance_list %}
    </form>
    {% else %}
    <p class="lead">No IT assets are under your support !</p>
    {% endif %}
  {% else %}
  <p class="lead">You're not the authorized IT staff</p>
  {% endif %}
</div>
{% endblock page_content %}
