{% extends 'base.html' %}
{% load auth_extras %}
{% block page_content %}

{% include 'base_messages.html' %}

{% if form.non_field_errors %}
  {% for message in form.non_field_errors %}
  <div class="container-fluid">
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <div>{{ message }}</div>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
        {# <span aria-hidden="True">&times;</span> #}
      </button>
    </div>
  </div>
  {% endfor %}
{% endif %}

<p class="h3">Disposal IT Assets</p>
{% if user|has_group:"IT China" %}
  {% if disposalrequest_list %}
  <table class="table table-striped table-hover">
    <tr>
      <th>Case ID</th>
      <th>Type</th>
      <th>Status</th>
      <th>Requested by</th>
      <th>Requested on</th>
      <th>Approved by</th>
      <th>Approved on</th>
    </tr>
    {% for request in disposalrequest_list %}
    <tr>
      <td>
        <a href="{% url 'nanoassets:instance-disposal-request-detail' request.case_id %}" class="text-decoration-none">
          <small>{{ request.case_id }}</small>
        </a>
      </td>
      <td><small>{{ request.get_type_display }}</small></td>
      <td><small>{{ request.get_status_display }}</small></td>
      <td><small>{{ request.requested_by.get_full_name }}</small></td>
      <td><small>{{ request.requested_on }}</small></td>
      <td><small>{{ request.approved_by.get_full_name }}</small></td>
      <td><small>{{ request.approved_on }}</small></td>
    </tr>
    {% endfor %}
  </table>
  {% else %}
  <p class="lead">There are no Disposal Request here !</p>
  {% endif %}
{% else %}
<p class="lead">You're not the authorized IT staff</p>
{% endif %}

{% endblock page_content %}
