{% extends 'base.html' %}
{% load auth_extras %}
{% block page_content %}

{% include 'base_messages.html' %}

{% if form.non_field_errors %}
  {% for message in form.non_field_errors %}
  <div class="container-fluid">
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <div>{{ message }}</div>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
        {# <span aria-hidden="True">&times;</span> #}
      </button>
    </div>
  </div>
  {% endfor %}
{% endif %}

<form action="{% url 'nanoassets:instance-disposal-request-approved' disposalrequest.pk %}" method="post">
  {% csrf_token %}
  <p class="h5" name="case_id">Case # {{ disposalrequest.case_id }}</p>
  <small>
    Requested by {{ disposalrequest.requested_by.get_full_name }} on {{ disposalrequest.requested_on }}
    {% if disposalrequest.approved_by %}
    approved by {{ disposalrequest.approved_by.get_full_name }} on {{ disposalrequest.approved_on }}
    {% endif %}
  </small>
  {% if request.user|has_group:"IT Reviewer" %}
    {% if disposalrequest.status == 'I' %}
    <div class="d-grid gap-2 d-md-block">
      <input type="submit" class="btn btn-outline-primary d-inline-flex align-items-center" value="Approve"/>
    </div>
    {% endif %}
  {% endif %}
  <div>
    <p class="lead">{{ disposalrequest.get_type_display }} IT Asset List</p>
    <table class="table table-striped table-hover">
      <tr>
        <th>Serial #</th>
        <th>Model / Type</th>
        <th>Status</th>
        <th>Owner</th>
        <th>EOL</th>
      </tr>
      {% for instance in disposalrequest.instance_set.all %}
      <tr>
        <td><small>{{ instance.serial_number }}<small></td>
        <td><em><small>{{ instance.model_type }}<small></em></td>
        <td><small>{{ instance.get_status_display }}<small></td>
        <td><small>{{ instance.owner }}<small></td>
        <td><small>{{ instance.eol_date }}<small></td>
      </tr>
      {% endfor %}
    </table>
  </div>
</form>

{% endblock page_content %}
