{% extends "base.html" %}
{% load auth_extras %}
{% block page_content %}

{% if form.non_field_errors %}
  {% for message in form.non_field_errors %}
  <div class="container-fluid">
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <div>{{ message }}</div>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
        {# <span aria-hidden="True">&times;</span> #}
      </button>
    </div>
  </div>
  {% endfor %}
{% endif %}

{% if user|has_group:"IT China" %}

<p class="h3">Disposal IT Assets</p>
  {% if disposalrequest_list %}
  <table class="table table-striped table-hover">
    <thead>
    <tr>
      <th><small>Case ID</small></th>
      <th><small>Type</small></th>
      <th><small>Status</small></th>
      <th><small>Requested by</small></th>
      <th><small>Requested on</small></th>
      <th><small>Approved by</small></th>
      <th><small>Approved on</small></th>
    </tr>
    </thead>
    <tbody>
    {% for request in disposalrequest_list %}
    <tr>
      <td>
        <a href="{% url 'nanoassets:instance-disposal-request-detail' request.case_id %}" class="text-decoration-none">
          <small>{{ request.case_id }}</small>
        </a>
      </td>
      <td><small>{{ request.get_type_display }}</small></td>
      <td><small>{{ request.get_status_display }}</small></td>
      <td><small>{{ request.requested_by.get_full_name }}</small></td>
      <td><small>{{ request.requested_on }}</small></td>
      <td><small>{{ request.approved_by.get_full_name }}</small></td>
      <td><small>{{ request.approved_on }}</small></td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
  {% else %}
  <p class="lead">There are no Disposal Request here !</p>
  {% endif %}
  
{% else %}
<p class="lead">You're not the authorized IT staff</p>
{% endif %}

{% endblock page_content %}
