{% extends 'base.html' %}
{% load auth_extras %}
{% block page_content %}
  {% if messages %}
    {% for message in messages %}
      <div class="container-fluid">
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
          <div>{{ message }}</div>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">{# <span aria-hidden="True">&times;</span> #}</button>
        </div>
      </div>
    {% endfor %}
  {% endif %}
  <div class="container mt-3">
    <p class="h3">search results</p>
    {% if instance_list %}
      <form action="{% url 'nanoassets:instance-bulk-upd' %}" method="post">
        {% csrf_token %}
        <div class="input-group gap-1">
          <input type="submit" name="scrapping-request" value="Apply for Scrapping" class="btn btn-outline-secondary d-inline-flex align-items-center"/>
          {# <select name="branchsite_selected" id="site" class="form-select d-inline-flex" style="width:auto" aria-label="Default select example"></select> #}
          <input type="submit" name="branchsite-transfer" value="Transfer to" class="btn btn-outline-secondary d-inline-flex align-items-center"/>
          <input type="text" list="branchSites" name="branchsite_selected" placeholder="distination ..." class="form-control" />
          <datalist id="branchSites">
            {% for branchSite_name in branchSites_name %}
              <option>{{ branchSite_name }}</option>
            {% endfor %}
          </datalist>
          
          {% if user|has_group:"IT China" and request.user.is_staff %}
            <input type="submit" name="contract-associate" value="Associate with" class="btn btn-outline-secondary d-inline-flex align-items-center"/>
            <input type="text" list="contracts" name="contract_selected" placeholder="contract ..." class="form-control" />
            <datalist id="contracts">
              {% for contract in contracts %}
                <option>{{ contract }}</option>
              {% endfor %}
            </datalist>
          {% endif %}
        </div>
        <table class="table table-striped table-hover">
          <thead>
          <tr>
            <th></th>
            <th><small>Serial #</small></th>
            <th><small>Model / Type</small></th>
            <th><small>Hostname</small></th>
            <th><small>Status</small></th>
            <th><small>Owner</small></th>
            <th><small>Site</small></th>
            {% if user|has_group:"IT China" and request.user.is_staff %}
            <th><small>Contract</small></th>
            {% endif %}
          </tr>
          </thead>
          <tbody>
          {% for instance in object_list %}
            <tr>
              <td><input type="checkbox" name="instance" id="instance{{ forloop.counter }}" value="{{ instance.pk }}"/></td>
              <td>
                <label for="instance{{ forloop.counter }}">
                  &nbsp;  <a href="{% url 'nanoassets:instance-detail' instance.pk %}"><small>{{ instance.serial_number }}</small></a>
                </label>
              </td>
              <td>
                <a href="{% url 'nanoassets:instance-in-repair' instance.pk %}">
                  {% if instance.status == 'inREPAIR' %}
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send-exclamation" viewBox="0 0 16 16">
                      <path d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855a.75.75 0 0 0-.124 1.329l4.995 3.178 1.531 2.406a.5.5 0 0 0 .844-.536L6.637 10.07l7.494-7.494-1.895 4.738a.5.5 0 1 0 .928.372l2.8-7Zm-2.54 1.183L5.93 9.363 1.591 6.602l11.833-4.733Z"></path>
                      <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm.5-5v1.5a.5.5 0 0 1-1 0V11a.5.5 0 0 1 1 0Zm0 3a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0Z"></path>
                    </svg>
                  {% else %}
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-tools" viewBox="0 0 16 16">
                      <path d="M1 0 0 1l2.2 3.081a1 1 0 0 0 .815.419h.07a1 1 0 0 1 .708.293l2.675 2.675-2.617 2.654A3.003 3.003 0 0 0 0 13a3 3 0 1 0 5.878-.851l2.654-2.617.968.968-.305.914a1 1 0 0 0 .242 1.023l3.27 3.27a.997.997 0 0 0 1.414 0l1.586-1.586a.997.997 0 0 0 0-1.414l-3.27-3.27a1 1 0 0 0-1.023-.242L10.5 9.5l-.96-.96 2.68-2.643A3.005 3.005 0 0 0 16 3c0-.269-.035-.53-.102-.777l-2.14 2.141L12 4l-.364-1.757L13.777.102a3 3 0 0 0-3.675 3.68L7.462 6.46 4.793 3.793a1 1 0 0 1-.293-.707v-.071a1 1 0 0 0-.419-.814L1 0Zm9.646 10.646a.5.5 0 0 1 .708 0l2.914 2.915a.5.5 0 0 1-.707.707l-2.915-2.914a.5.5 0 0 1 0-.708ZM3 11l.471.242.529.026.287.445.445.287.026.529L5 13l-.242.471-.026.529-.445.287-.287.445-.529.026L3 15l-.471-.242L2 14.732l-.287-.445L1.268 14l-.026-.529L1 13l.242-.471.026-.529.445-.287.287-.445.529-.026L3 11Z"></path>
                    </svg>
                  {% endif %}
                </a>
                &nbsp; <small>{{ instance.model_type }}</small>
              </td>
              <td><small>{{ instance.hostname }}</small></td>
              <td>&nbsp; <small>{{ instance.get_status_display }}</small></td>
              <td>
                &nbsp; <a href="{% url 'nanoassets:instance-owner-upd' instance.pk %}">
                {% if instance.owner %}<small>{{ instance.owner.get_full_name }}<small>{% else %}🈳{% endif %}
                </a>
              </td>
              <td>&nbsp; <small>{{ instance.branchSite }}</small></td>
              {% if user|has_group:"IT China" and request.user.is_staff %}
                <td>&nbsp;
                  {% if instance.contract_set.first %}
                    {% for contract in instance.contract_set.all %}
                      {% if contract.type in 'MNR' %}
                        <a href="{% url 'nanopay:contract-detail' contract.pk %}">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-check" viewBox="0 0 16 16">
                            <path d="M10.854 7.854a.5.5 0 0 0-.708-.708L7.5 9.793 6.354 8.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z"/>
                            <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"/>
                          </svg>
                          {{ contract.get_type_display }}
                        </a>
                        {% endif %}
                    {% endfor %}
                  {% else %}
                    🈳
                  {% endif %}
                </td>
              {% endif %}
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </form>
    {% else %}
      <p class="lead">Nothing found !</p>
    {% endif %}
  </div>
{% endblock page_content %}
