table.sticky thead tr:nth-child(1) th{
    position: sticky; top: 0; z-index: 10;
    box-shadow: 0 0 0 1px #ddd;
  }
  
  table.sticky-x tr td:nth-child(1){
    position: sticky; left: 0; z-index: 10;
    background-color: #fff;
    box-shadow: 0px 0px 0px 1px #ddd, 2px 0px 0px 0px #444;
  }
  
  table.sticky-x tr th:nth-child(1){
    position: sticky; left: 0; z-index: 10;
    box-shadow: 0px 0px 0px 1px #ddd, 2px 0px 0px 0px #444;
  }
  
  table.sticky-x thead tr th:nth-child(1) {
    position: sticky; left: 0; top: 0; z-index: 12;
    box-shadow: 0 0 0 1px #ddd;
  }
  
  table.sticky-x.table-striped tr:nth-of-type(odd) td:nth-child(1) {
    background-color: #f2f2f2;
  }
  
  table.table-striped-columns tbody td:nth-of-type(odd) {
    background:#f2f2f2
  }
  table.table-striped-columns thead th:nth-of-type(odd){
    background:#f2f2f2
  }
  