<table class="table table-striped table-hover">
  <thead>
    <tr>
      {% if email != "true" %}<th></th>{% endif %}
      <th><small>Interval</small></th>
      {# <th><small>Recurring</small></th> #}
      <th><small>Scheduled</small></th>
      <th><small>Amount</small></th>
      <th><small>{% if email != "true" %}Applied on{% else %}Contract{% endif %}</small></th>
      {% if email != "true" %}<th><small>Applied Amount</small></th>{% endif %}
      <th><small>{% if email != "true" %}Approved on{% else %}Party B{% endif %}</small></th>
    </tr>
  </thead>
  <tbody>
    {% for term in paymentTerms %}
    <tr>
      {% if email != "true" %}
      <td> <!-- checkBox -->
        <input type="checkbox" name="payment term" id="payment_term_{{ forloop.counter }}" value="{{ term.pk }}"/>
      </td>
      {% endif %}

      <td> <!-- Interval -->
        <small>{{ term.get_plan_display }}</small>
      </td>

      {# <td><small>{{ term.recurring }}</small></td> #}

      <td> <!-- Scheduled -->
        <label for="term{{ forloop.counter }}">
          <small>{{ term.pay_day|date:"SHORT_DATE_FORMAT" }}</small>
        </label>
      </td>

      <td> <!-- Amount -->
        <small>{{ term.paymentrequest_set.last.non_payroll_expense.get_currency_display }}{{ term.amount|floatformat:"2g" }}</small>
      </td>

      <td> <!-- Applied on -->
        {% if email == "true" %}
        <a href="{{ protocol }}://{{ domain }}{% url 'nanopay:contract-detail' term.contract.pk %}" class="btn btn-link position-relative text-start text-decoration-none">
          <small>{{ term.contract.briefing }}</small>
        </a>
        {% elif vendor == 'true' %}
          {% if term.paymentrequest_set.last.status == 'Req' or term.paymentrequest_set.last.status == 'I' or term.paymentrequest_set.last.status == 'A' %}
          <small>{{ term.paymentrequest_set.last.requested_on }}</small>
          {% else %}
            {% if term.paymentrequest_set.last.status == 'Rej' %}
            <button type="button" id="{{ term.paymentrequest_set.last.pk }}" class="btn btn-sm"
              data-bs-toggle="modal" data-bs-target="#paymentReqModal"
              style="--bs-btn-bg: #FF7F50;"
            >
              <small>Re-submit</small>
            </button>
            {% else %}
            <button type="button" id="{{ term.pk }}" class="btn btn-sm"
              data-bs-toggle="modal" data-bs-target="#paymentReqModal"
              style="--bs-btn-bg: #FF7F50;"
            >
              <small>Apply ...</small>
            </button>
            {% endif %}
          {% endif %}
        {% else %}
          {% if term.applied_on is not None and term.paymentrequest_set.last.non_payroll_expense %}
          <a href="{% url 'nanopay:paper-form' term.paymentrequest_set.last.pk %}" class="text-decoration-none">
            <small>{{ term.paymentrequest_set.last.requested_on }}</small>
          </a>
          {% elif term.applied_on is not None %}
          <small>{{ term.applied_on }}</small>
          {% else %}
          {# <a href="{% url 'nanopay:payment-request-new' term.pk %}" class="text-decoration-none">🏧</a> #}
          <button type="button" id="{{ term.pk }}" class="btn btn-sm"
            data-bs-toggle="modal" data-bs-target="#paymentReqModal"
            style="--bs-btn-bg: #FF7F50;"
          >
            <small>Apply ...</small>
          </button>
          {% endif %}
        {% endif %}
      </td>

      {% if email != "true" %}
      <td class="position-relative"> <!-- Applied Amount -->
        {% if term.paymentrequest_set.last.invoiceitem_set.count > 1 %}
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
          data-bs-toggle="tooltip" data-bs-placement="right"
          data-bs-custom-class="custom-tooltip" data-bs-html="true"
          data-bs-title="
            <ul>
              {% for invoiceitem in term.paymentrequest_set.last.invoiceitem_set.all %}
              <li>{{ invoiceitem.amount }} | {{ invoiceitem.vat }}</li>
              {% endfor %}
            </ul>"
        >
          {{ term.paymentrequest_set.last.invoiceitem_set.count }}
          <span class="visually-hidden">Invoice Item</span>
        </span>
        {% endif %}
        <small>{{ term.paymentrequest_set.last.non_payroll_expense.get_currency_display }}{{ term.paymentrequest_set.last.amount|floatformat:"2g" }}</small>
        <!--
        {% for invoice_scanned_copy in invoice_scanned_copies %}
          {% if term.paymentrequest_set.last.pk|stringformat:"s" == invoice_scanned_copy.db_table_pk %}
          <a href="{% url 'nanobase:digital-copy-display' invoice_scanned_copy.pk %}" class="text-decoration-none">📎</a>
          {% endif %}
        {% endfor %}
        -->
      </td>
      {% endif %}

      <td> <!-- Approved on -->
      {% if email == "true" %}
        {% for party_b in term.contract.party_b_list.all %}
        <a href="{{ protocol }}://{{ domain }}{{ party_b.get_absolute_url }}" class="btn btn-link position-relative text-start text-decoration-none">
          <small>{{ term.contract.get_party_b_display }}</small>
        </a>
        {% endfor %}
      {% else %}
        {% if term.paymentrequest_set.last.IT_reviewed_on %}
        <small>{{ term.paymentrequest_set.last.IT_reviewed_on }}</small>
        {% else %}
          {% if term.applied_on %}
          <span class="badge rounded-pill text-bg-secondary">
            <small>{{ term.paymentrequest_set.last.get_status_display }}</small>
          </span>
          {% endif %}
        {% endif %}
      {% endif %}
      </td>

    </tr>
    {% endfor %}
  </tbody>
</table>