<table class="table table-striped table-hover">
  <thead>
    <tr>
      {% if email != "true" %}<th></th>{% endif %}
      <th>class</th>
      <th>Para</th>
      {% if email != "true" %}
      <th>by</th>
      <th>modified</th>
      {% else %}
      <th>expire</th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
    {% for config in configs %}
    <tr>
      {% if email != "true" %}
      <td>
        <small>
          <div class="form-check form-switch">
            {% if config.is_active %}
            <input class="form-check-input" type="checkbox" role="switch" name="config_is_active" id="" value="{{ config.pk }}" checked/>
            {% else %}
            <input class="form-check-input" type="checkbox" role="switch" name="config_is_active" id="" value="{{ config.pk }}" />
            {% endif %}
            <label class="form-check-label" for=""></label>
          </div>
        </small>
      </td>
      {% endif %}
      <td class="position-relative text-start">
        <small>{{ config.configClass }}{% if config.order %} ﹟{{ config.order }}{% endif %}</small>
        {% if email != "true" and config.has_sub_config %}
        <span class="position-absolute top-0 start-100 translate-middle p-1 badge rounded-pill bg-secondary">
          {{ config.has_sub_config }}
          <span class="visually-hidden">has sub Configs</span>
        </span>
        {% endif %}
        {% if email != "true" and config.digital_copies %}
          {% for digital_copy in config.digital_copies %}
          <a href="{% url 'nanobase:digital-copy-display' digital_copy.pk %}" class="text-decoration-none">📎</a>
          {% endfor %}
        {% endif %}
        <!-- <button type="button" name="updateConfig" id="{{ config.pk }}" class="btn btn-link text-decoration-none" data-bs-toggle="modal" data-bs-target="#configCUDModal"></button> -->
      </td>
      <td>
        {% if config.is_secret %}
        <small>X X X X X X X X</small>
        {% else %}
        <small>{{ config.configPara }}</small>
        {% endif %}
        {% if email != "true" and config.expire %}<span class="badge rounded-pill text-bg-secondary"><small>{{ config.expire }}</small></span>{% endif %}
      </td>
      {% if email != "true" %}
      <!-- <td class="text-wrap" style="max-width: 576px"><small>{{ config.detail }}</small></td> -->
      <td><small>{{ config.by.get_full_name }}</small></td>
      <td>
        <small>{{ config.on|date:"SHORT_DATE_FORMAT" }}</small> <!-- 短 日期 格式 | SHORT DATE FORMAT-->
        <a name="create_Sub_Config" id="{{ config.pk }}" class="btn btn-link text-decoration-none" href="#" role="button" data-bs-toggle="modal" data-bs-target="#configCUDModal">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-node-plus" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M11 4a4 4 0 1 0 0 8 4 4 0 0 0 0-8M6.025 7.5a5 5 0 1 1 0 1H4A1.5 1.5 0 0 1 2.5 10h-1A1.5 1.5 0 0 1 0 8.5v-1A1.5 1.5 0 0 1 1.5 6h1A1.5 1.5 0 0 1 4 7.5zM11 5a.5.5 0 0 1 .5.5v2h2a.5.5 0 0 1 0 1h-2v2a.5.5 0 0 1-1 0v-2h-2a.5.5 0 0 1 0-1h2v-2A.5.5 0 0 1 11 5M1.5 7a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5z"/>
          </svg>
        </a>
      </td>
      {% else %}
      <td><small>{{ config.expire }}</small></td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>